<%- include("template/header") %>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="btn btn-secondary" href="/ingresar">Ingresar Nuevo Producto</a>            
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/p1">Producto 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/p2">Producto 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/p3">Producto 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/p4">Producto 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/p5">Producto 5</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/p6">Producto 6</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/p7">Producto 7</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/p8">Producto 8</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>     
  
</body>

</html>